@use "sass:color";

:root {
    /* brand colors */
    --agk-bg: #fffbf5;
    --agk-geel-achtergrond: #d9c561;
    --agk-geel-tekst: #ffd857;
    --agk-rood: #9e002d;
    --agk-groen: #01504c;
    --agk-licht-groen: #bbcc77;
    --agk-blauw: #2e456d;

    /* color scheme */
    // these must be HexRGB, RGB(A) or HSL(A); CSS Variables won't work
    $primary-color: #d9c561;
    $secondary-color: hsl(0, 0%, 50%);
    $tertiary-color: hsl(324, 100%, 47%);
    $grey-middle: hsl(0, 0%, 50%);
    --primary-color: #{$primary-color};
    --secondary-color: #{$secondary-color};
    --tertiary-color: #{$tertiary-color};
    --white: #ffffff;
    --black: #000000;

    /* background colors */
    --general-bg: var(--agk-bg);

    // --general-bg: url('images/grids/grid-4px-28px.svg');

    /* text colors */
    --paragraph-color: #333;
    --heading-color: var(--agk-rood);
    --a-color: hsl(225, 60%, 40%);
    --a-hover-color: hsl(225, 60%, 65%);

    /* interaction colors */
    --error-color: #d00;
    --warning-color: #f90;
    --mark-color: #fd0;
    --success-color: #0b0;

    /* primary tints - add white or black */
    $primary-lightest: color.mix(white, $primary-color, 75%);
    $primary-lighter: color.mix(white, $primary-color, 50%);
    $primary-light: color.mix(white, $primary-color, 25%);
    $primary-dark: color.mix(black, $primary-color, 25%);
    $primary-darker: color.mix(black, $primary-color, 50%);
    $primary-darkest: color.mix(black, $primary-color, 75%);
    --primary-lightest: #($primary-lightest);
    --primary-lighter: #($primary-lighter);
    --primary-light: #($primary-light);
    --primary-dark: #($primary-dark);
    --primary-darker: #($primary-darker);
    --primary-darkest: #($primary-darkest);

    /* secondary tints - change lightness */
    $secondary-lightest: color.change($secondary-color, $lightness: 95%);
    $secondary-lighter: color.change($secondary-color, $lightness: 80%);
    $secondary-light: color.change($secondary-color, $lightness: 70%);
    $secondary-middle-light: color.change($secondary-color, $lightness: 60%);
    $secondary-middle: color.change($secondary-color, $lightness: 50%);
    $secondary-middle-dark: color.change($secondary-color, $lightness: 40%);
    $secondary-dark: color.change($secondary-color, $lightness: 30%);
    $secondary-darker: color.change($secondary-color, $lightness: 20%);
    $secondary-darkest: color.change($secondary-color, $lightness: 10%);
    --secondary-lightest: #(secondary-lightest);
    --secondary-lighter: #(secondary-lighter);
    --secondary-light: #(secondary-light);
    --secondary-middle-light: #(secondary-middle-light);
    --secondary-middle: #(secondary-middle);
    --secondary-middle-dark: #(secondary-middle-dark);
    --secondary-dark: #(secondary-dark);
    --secondary-darker: #(secondary-darker);
    --secondary-darkest: #(secondary-darkest);

    /* greys */
    $grey-lightest: color.mix(white, $grey-middle, 90%);
    $grey-lighter: color.mix(white, $grey-middle, 50%);
    $grey-light: color.mix(white, $grey-middle, 25%);
    $grey-dark: color.mix(black, $grey-middle, 25%);
    $grey-darker: color.mix(black, $grey-middle, 50%);
    $grey-darkest: color.mix(black, $grey-middle, 75%);
    --grey-lightest: #($grey-lightest);
    --grey-lighter: #($grey-lighter);
    --grey-light: #($grey-light);
    --grey-middle: #($grey-middle);
    --grey-dark: #($grey-dark);
    --grey-darker: #($grey-darker);
    --grey-darkest: #($grey-darkest);

    /* synonyms */
    --diap-color: var(--white);
}
