/* 
 * Media queries 
 *
 * Use EM only, REM doesn't work well, PX has a11y issues
 * Core CSS variables don't work in media queries, so use SCSS variables instead
 * Smallest anticipated device width 374px // TODO 320px would be ideal
 * 
 */

:root {
    --mq-extra-small: 28em; // 448px;
    --mq-small: 37.5em; // 600px
    --mq-medium: 50em; // 800px
    // --mq-large: 65em; // 1040px // changed desktop width 20210806
    --mq-large: 80em; // 1280px
}

$mq-extra-small: 28em;
$mq-small: 37.5em; // value from Gutenberg
$mq-medium: 50em; // slightly changed value from Gutenberg
// $mq-large: 65em; // changed desktop width 20210806
$mq-large: 80em;
$mq-reduction: 0.05em; // reduction value for media query flips

/* 
 * Text width values
 */

:root {
    --max-width-text: 37.5rem; // 600px
    // --max-width-container: 62.75rem; // 65rem - (2 * 1.125rem) // changed desktop width 20210806
    --max-width-container: 74.5rem;
    // --min-margin-text: 2.5rem;
    --vert-scrollbar: 16px; // space required for vertical scrollbar on desktop
    --margin-column: 1rem; // 20210407: not in use
}

$max-width-text: 37.5rem;
// $max-width-container: 62.75rem; // changed desktop width 20210806
$max-width-container: 74.5rem;
