:root {
    --archive-article-bg: var(--white);
}

.category main,
.tag main,
.archive main {
    margin: 0;
}

.archive {
    .page-header h1 {
        font-family: var(--ff-sans);
        font-weight: var(--fw-light);
        font-style: normal;
        font-size: var(--fs-xl);
        color: var(--p-color);
        span {
            text-transform: uppercase;
            padding: 0.25rem 0.5rem 0.125rem;
            background-color: var(--agk-licht-groen);
            color: var(--p-color);
        }
    }
}

// .article-categories {
//     margin-bottom: 0.5rem;
//     a {
//         background-color: var(--agk-licht-groen);
//         color: var(--p-color);
//         display: inline;
//         margin-right: 0.25rem;
//         text-decoration: none;

/*
.archive-description {
    @include article-width;
}

.archive-overview article:not(:last-child) footer {
    border-bottom: 1px solid var(--grey-lighter);
    mix-blend-mode: multiply;
    margin-bottom: var(--whiteline);
}

/* the following layout is obsolete

.archive .archive-overview {
    display: grid;
    gap: 1em 2%;
}

.archive article {
    background-color: var(--archive-article-bg);
    align-self: start;
}

@media screen and (min-width: $mq-extra-small) {
    .archive .archive-overview {
        grid-template-columns: repeat(2, 49%);
    }
    .archive .archive-overview header,
    .archive .archive-overview nav {
        grid-column: span 2;
    }
}

@media screen and (min-width: $mq-medium) {
    .archive .archive-overview {
        grid-template-columns: repeat(3, 32%);
    }
    .archive .archive-overview header,
    .archive .archive-overview nav {
        grid-column: span 3;
    }
}
*/
