/* make publication date invisible for
 * - ledenagenda
 * - thermometer
 */

#post-2130,
#post-2117 {
    .article-meta {
        display: none;
    }
}

// makes headings smaller is one-third column

.wp-block-column[style="flex-basis:33.33%"] {
    .article-content h2 {
        line-height: var(--lh-paragraph);
        font-size: var(--fs-l);
    }
    h2.article-title {
        line-height: var(--lh-paragraph);
        a {
            font-size: var(--fs-xl);
        }
    }
}
